In [4]:
import pandas as pd

In [5]:
d1 = {'Name': ['Samarth', 'Omkar', 'Vaishnavi'], 'Country': ['India', 'India', 'USA'], 'Role': ['CEO', 'CTO', 'CTO']}
d2 = {'ID': [1, 2, 3], 'Name': ['Samarth', 'Amardeep', 'Prajwal']}

In [6]:
df1 = pd.DataFrame(d1)

In [7]:
print('DataFrame 1:\n', df1)

DataFrame 1:
         Name Country Role
0    Samarth   India  CEO
1      Omkar   India  CTO
2  Vaishnavi     USA  CTO

In [8]:
df2 = pd.DataFrame(d2)

In [9]:
print('DataFrame 2:\n', df2)

DataFrame 2:
    ID      Name
0   1   Samarth
1   2  Amardeep
2   3   Prajwal

In [15]:
country = df1[df1['Country'] == 'India']

In [17]:
print(country)

      Name Country Role
0  Samarth   India  CEO
1    Omkar   India  CTO

In [21]:
id = df2[df2['ID'] > 1]

In [22]:
print(id)

   ID      Name
1   2  Amardeep
2   3   Prajwal

In [ ]:
#Merging

In [10]:
df_merged = df1.merge(df2)
print('Result Inner Join:\n', df_merged)

Result Inner Join:
       Name Country Role  ID
0  Samarth   India  CEO   1

In [11]:
print('Result Left Join:\n', df1.merge(df2, how='left'))

Result Left Join:
         Name Country Role   ID
0    Samarth   India  CEO  1.0
1      Omkar   India  CTO  NaN
2  Vaishnavi     USA  CTO  NaN

In [12]:
print('Result Right Join:\n', df1.merge(df2, how='right'))

Result Right Join:
        Name Country Role  ID
0   Samarth   India  CEO   1
1  Amardeep     NaN  NaN   2
2   Prajwal     NaN  NaN   3

In [13]:
print('Result Outer Join:\n', df1.merge(df2, how ='outer'))

Result Outer Join:
         Name Country Role   ID
0    Samarth   India  CEO  1.0
1      Omkar   India  CTO  NaN
2  Vaishnavi     USA  CTO  NaN
3   Amardeep     NaN  NaN  2.0
4    Prajwal     NaN  NaN  3.0