In [13]:
import pandas as pd

In [14]:
Data = pd.read_csv("./Book2.csv")

In [15]:
print("\nBefore sorting:")
print(Data)

Before sorting:
   ID     Name    Role  Salary
0   1     Abhi  Editor   10000
1   2   Ankita  Author    8000
2   3  Prajwal  Author    5000
3   4   Shweta  Editor    4000
4   5    Omkar  Editor   20000

In [22]:
Data.sort_values(["Salary"],axis=0, ascending=[True], inplace=True)

In [17]:
print("\nAfter sorting:")
print(Data)

After sorting:
   ID     Name    Role  Salary
3   4   Shweta  Editor    4000
2   3  Prajwal  Author    5000
1   2   Ankita  Author    8000
0   1     Abhi  Editor   10000
4   5    Omkar  Editor   20000

In [23]:
print(Data)

   ID     Name    Role  Salary
3   4   Shweta  Editor    4000
2   3  Prajwal  Author    5000
1   2   Ankita  Author    8000
0   1     Abhi  Editor   10000
4   5    Omkar  Editor   20000

In [24]:
print(Data.T)

             3        2       1       0       4
ID           4        3       2       1       5
Name    Shweta  Prajwal  Ankita    Abhi   Omkar
Role    Editor   Author  Author  Editor  Editor
Salary    4000     5000    8000   10000   20000

In [25]:
print(Data.shape)

(5, 4)

In [26]:
print(Data.size)

20

In [27]:
import numpy as np
r = np.array([[1, 2, 3],
                [4, 5, 6]])

In [28]:
reshaped_arr = r.reshape(3, 2)

In [29]:
reshaped_arr

array([[1, 2],
       [3, 4],
       [5, 6]])