In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./book2.csv")
df.head()
print(df)

   ID     Name    Role  Salary
0   1     Abhi  Editor   10000
1   2   Ankita  Author    8000
2   3  Prajwal  Author    5000
3   4   Shweta  Editor    4000
4   5    Omkar  Editor   20000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Role    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [4]:
#1. Deleting the column with missing data
updated_df = df.dropna(axis=1)
print(updated_df)
updated_df.info()

   ID     Name    Role  Salary
0   1     Abhi  Editor   10000
1   2   Ankita  Author    8000
2   3  Prajwal  Author    5000
3   4   Shweta  Editor    4000
4   5    Omkar  Editor   20000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Role    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [5]:
#2. Deleting the row with missing data
updated_df = df.dropna(axis=0)
print(updated_df)
updated_df.info()

   ID     Name    Role  Salary
0   1     Abhi  Editor   10000
1   2   Ankita  Author    8000
2   3  Prajwal  Author    5000
3   4   Shweta  Editor    4000
4   5    Omkar  Editor   20000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Role    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [6]:
#3. Filling the Missing Values â€“ Imputation
updated_df = df
updated_df['Salary']=updated_df['Salary'].fillna(updated_df['Salary'].mean())
print(updated_df)

   ID     Name    Role  Salary
0   1     Abhi  Editor   10000
1   2   Ankita  Author    8000
2   3  Prajwal  Author    5000
3   4   Shweta  Editor    4000
4   5    Omkar  Editor   20000

In [7]:
#4. Imputation with an additional column
updated_df = df
updated_df['Salaryismissing'] = updated_df['Salary'].isnull()
print(updated_df)

   ID     Name    Role  Salary  Salaryismissing
0   1     Abhi  Editor   10000            False
1   2   Ankita  Author    8000            False
2   3  Prajwal  Author    5000            False
3   4   Shweta  Editor    4000            False
4   5    Omkar  Editor   20000            False

In [8]:
#5. Filling with a Regression Model
testdf = df[df['Salary'].isnull()==True]
traindf = df[df['Salary'].isnull()==False]
traindf.drop("Salary",axis=1,inplace=True)
testdf.drop("Salary",axis=1,inplace=True)
print(traindf)

   ID     Name    Role  Salaryismissing
0   1     Abhi  Editor            False
1   2   Ankita  Author            False
2   3  Prajwal  Author            False
3   4   Shweta  Editor            False
4   5    Omkar  Editor            False

C:\Users\omkar\AppData\Local\Temp\ipykernel_24836\1729068182.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf.drop("Salary",axis=1,inplace=True)